{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'poizonapp/css/styles.css' %}">
</head>
<body>
    {% block mainmenu %}
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Главная страница</a></li>
                    {% for m in menu %}
                        <li>
                            <a href="{% url m.url_name %}">{{ m.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </header>
    {% endblock mainmenu %}
    <main>
    {% block content %}
    {% endblock content %}
    </main>
    <footer>
        <p>&copy; 2023 PoizonDealer. Все права защищены.</p>
    </footer>
</body>
</html>